body{
    background-color: black;
}

.kohaBtn{
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: #123123;
    color: white;
    cursor: pointer;
    font-family: consolas, monospace;
}

#kohaShfaqu{
    font-size: 75px;
    color: #40c567;
    font-family: consolas, monospace;
}

#koha{
    margin-top: 50px;
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: #222222;
}